body {
    font-family: Georgia, serif;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px; /* espacio para la barra de navegación */
  }
  
  .calculadora {
    background-color: rgb(44, 41, 41);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  label {
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 10px;
  }
  
  h2 {
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  input[type="number"],
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  #resultado-imc {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(44, 41, 41);
    text-align: center;
  }
  